/* Mission checkbox colored indicators */

.voyager1-checkbox .name::before {
  content: "● ";
  color: #00ffff;
  /* Cyan */
  font-size: 1em;
}

.voyager2-checkbox .name::before {
  content: "● ";
  color: #ff00ff;
  /* Magenta */
  font-size: 1em;
}

.pioneer10-checkbox .name::before {
  content: "● ";
  color: #ffa500;
  /* Orange */
  font-size: 1em;
}

.pioneer11-checkbox .name::before {
  content: "● ";
  color: #00ff00;
  /* Lime Green */
  font-size: 1em;
}

.galileo-checkbox .name::before {
  content: "● ";
  color: #ffd700;
  /* Gold */
  font-size: 1em;
}
